.header {
  padding-top: 40rem;
  padding-bottom: 12.5rem;
  height: 180rem;
  background-image: linear-gradient(to bottom, rgba($color-primary-dark, 0.5), rgba($color-primary-light, 1)),
    url(../../public/images/inicio.jpg);
  background-position: 0rem 7rem;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  a.btn.btn--white {
    font-size: $medium-font-size;
  }
  @include respond(big-desktop) {
    background-position: right;
    height: 150rem;
    padding-top: 10rem;
  }
  @include respond(tab-land) {
    padding-top: 12rem;
    font-size: 50%;
    background-image: linear-gradient(to left bottom, rgba($color-secondary-light, 1), rgba($color-primary, 1));
  }
  @include respond(small-phone) {
    height: 100vh;
  }

  &__image {
    padding-top: 2rem;
    width: 80%;
    height: 55rem;
  }
  &__logo-box {
    display: flex;
    align-items: center;
    width: 100%;
    flex-flow: column;
    height: 100%;
    & .header__iso {
      visibility: hidden;
      @include respond(tab-land) {
        height: 60rem;
        visibility: visible;
      }
      @include respond(small-phone) {
        height: 55rem;
      }
    }

    & .header__iso-text {
      margin-top: 30rem;
      margin-bottom: 5rem;
      height: 20vh;
      width: 90%;
      max-width: 60rem;
      @include respond(tab-land) {
        margin-top: 0rem;
        height: 25vw;
      }
      @include respond(small-phone) {
        height: 20rem;
      }
    }

    &__cta-button {
      margin-top: 3rem;
    }
  }

  &__text-box {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}
