.payment {
  &__plan {
    &-summary {
      // max-width: 60rem;
      margin: 0 auto;
      color: $color-primary-dark;
      // margin-bottom: 3rem;
      // border: 2px $color-grey-light-3 solid;
      padding: 0rem 2.5rem 2.5rem 2.5rem;
      // border-radius: 1rem;
    }
    &-description {
      margin-top: 1.5rem;
      // color: $color-primary-light;
    }
    &-patient {
      margin-top: 1.5rem;
    }
    &-price {
      margin-top: 3rem;
    }
    &-options {
      font-size: 2.5rem;
      margin-top: 4rem;
      display: flex;
      align-items: center;
      h2 {
        font-size: 2rem;
      }
    }
    &-stripe-logo {
    }
  }

  &__review {
    margin-top: 2rem;
    font-size: 2.5rem;
    &-order {
      font-size: 3rem;
      color: $color-primary-dark;
    }
    // border-spacing: 0px;
    border-collapse: collapse;
    color: $color-primary-dark;
    width: 100%;
    text-align: left;

    &-title {
    }
    & thead tr th {
      font-weight: 600;
      border-bottom: 3px rgb(206, 206, 206) solid;
    }
    & tbody tr:first-child td {
      padding: 1.5rem 0.5rem;
    }

    & tfoot tr td {
      font-weight: 600;
      border-bottom: 3px rgb(206, 206, 206) solid;
    }

    & td,
    th {
      border-bottom: 1px rgb(206, 206, 206) solid;
      padding: 0.5rem;
    }
  }

  &__card {
    max-width: 60rem;
    padding: 0rem 2.5rem 2.5rem 2.5rem;
    margin: 0 auto;
    height: 60rem;
    &-title {
      color: $color-primary-dark;
    }
  }
  &__result {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 10rem;
    padding: 1rem;
    color: $color-primary-dark;
    &--title {
      text-align: center;
      margin-bottom: 4rem;
      font-size: 5rem;
      opacity: 0;
    }
    &--title-error {
      opacity: 1;
    }
    &--icon {
      position: relative;
      height: 30rem;
      // justify-content: center;
    }
    .success__svg-checkmark {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 35rem;
      height: 35rem;
    }
    .success__celebration {
      height: 32rem;
      width: 32rem;
      position: absolute;
      left: 50%;
      top: 50%;
      font-weight: 100;
      transform: translate(-50%, -50%);
    }
    .fail__svg-sad-face {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 34rem;
      height: 34rem;
    }

    &--thank,
    &--failure-msg {
      margin-top: 4rem;
      font-size: 5rem;
      text-align: center;
      padding: 0 3rem;
    }

    &--button {
      margin-top: 10rem;
      margin-bottom: 6rem;
      height: 9rem;
      width: 35rem;
      font-size: $big-font-size;
      font-weight: bolder;
      color: $color-black;
      background-color: $color-white;
      border: none;
    }
    &--list-msg {
      font-size: $medium-font-size;
    }
  }
  &__card-error {
    text-align: center;
    margin-top: 4rem;
    font-size: $medium-font-size;
    // opacity: 0;
    color: $color-white;
  }
}

.StripeElement {
  color: $color-primary-dark !important;
}
