.calendar {
  // margin-top: 11rem;
  // background-color: rgba($color-blue, 1);
  border-radius: 1rem;
  // background-color: $color-secondary-dark;
  height: 56rem;
  background-color: #484848;
  & .react-calendar {
    background-color: transparent;
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    color: $color-black;

    &__navigation {
      height: 9rem;
      &__label__labelText {
        font-size: $big-font-size-2;
        color: $color-white;
      }
      &__arrow {
        align-content: center;
        font-size: 5rem;
        color: white;
      }
      & button:enabled:focus {
        background-color: rgba($color-primary-dark, 0.85);
      }
      &__prev2-button:disabled,
      &__prev-button:disabled {
        // color: $color-blue-2;
        color: #87614f;
      }
      &__next2-button:disabled,
      &__next-button:disabled {
        color: #87614f;
      }
    }

    &__month-view {
      &__weekdays {
        font-size: 2.5rem;
        color: white;

        &__weekday abbr {
          text-decoration: none;
        }
      }
      &__days {
        height: 35rem;

        button {
          font-size: 3rem;
          abbr {
            // color: $color-black;
            color: #87614f;
          }
        }
      }
      &:active:enabled:hover {
        background-color: $color-secondary-dark;
      }
      .react-calendar {
        &__tile {
          &--now {
            background-color: transparent;
            abbr {
              font-size: 4rem;
              font-weight: bolder;
            }
          }
          &--active,
          &--active:enabled:hover,
          &--active:enabled:focus {
            background-color: $color-primary-dark;
          }
        }
      }
      button:not(:disabled),
      button:not(:disabled) abbr {
        color: rgb(255, 255, 255);
        font-weight: 600;
      }
    }

    button:disabled,
    button:disabled abbr {
      background-color: transparent;
    }
  }
  .react-calendar__tile {
    &:enabled:hover,
    &:focus {
      background-color: transparent;
    }
  }
}
