$blue-selected: rgb(107, 227, 217);
$blue-hover: rgb(95, 201, 192);
$blue-tw: rgb(240 253 250);
$gray-text-disabled: rgb(162, 162, 162);
$black-text-enabled: rgb(10, 10, 10);
.calendar {
  // margin-top: 11rem;
  // background-color: rgba($color-blue, 1);
  border-radius: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-items: center;
  align-items: center;
  // background-color: $color-secondary-dark;
  // height: 56rem;
  // height: fit-content;
  & .react-calendar {
    background-color: rgb(240 253 250);
    // background-color: transparent;
    margin-top: 2rem;
    // width: 100%;
    // height: 100%;
    color: $black-text-enabled;
    border-radius: 0.5rem;
    border-color: rgba(74, 213, 213, 0.175);
    &__navigation {
      // height: 9rem;
      &__label {
        &__labelText {
          font-size: 1rem;
          color: $black-text-enabled;
        }
        &:enabled:hover {
          background-color: $blue-selected;
        }
      }
      &__arrow {
        align-content: center;
        font-size: 1rem;
        color: $black-text-enabled;

        &.react-calendar__navigation__next-button:hover {
          background-color: $blue-selected;
        }
      }
      & button:enabled:focus {
        background-color: $blue-selected;
      }
      // rgb(13, 148, 136)
      // rgb(20, 184, 166)
      &__prev2-button:disabled,
      &__prev-button:disabled {
        // color: $color-blue-2;
        color: $gray-text-disabled;
      }
      &__next2-button:disabled,
      &__next-button:disabled {
        color: $gray-text-disabled;
      }
    }

    &__month-view {
      &__weekdays {
        font-size: 0.8rem;
        color: $black-text-enabled;

        &__weekday abbr {
          text-decoration: none;
        }
      }
      &__days {
        // height: 35rem;

        button {
          font-size: 1rem;
          abbr {
            // color: $color-black;
            color: rgb(162, 162, 162);
          }
        }
      }
      &:active:enabled:hover {
        background-color: rgb(13, 148, 136);
      }
      .react-calendar {
        &__tile {
          &--now {
            abbr {
              font-size: 1rem;
              font-weight: bolder;
            }
          }
          &--active,
          &--active:enabled:hover,
          &--active:enabled:focus {
            background-color: $blue-selected;
          }
        }
      }
      button:not(:disabled),
      button:not(:disabled) abbr {
        color: rgb(28, 28, 28);
        font-weight: 600;
      }
    }

    &__year-view__months {
      .react-calendar {
        &__tile--now {
          background-color: $blue-selected; // Normal
          &:hover {
            background-color: $blue-hover; // Hover
          }
        }
      }
    }
    button:disabled,
    button:disabled abbr {
      background-color: transparent;
    }
  }
  .react-calendar__tile {
    // background-color: $blue-selected;
    &:enabled:hover,
    &:focus {
      // background-color: $blue-hover;
    }
  }
}
