.credential {
  // background-color: $color-primary-dark;
  // background-color: $color-black;
  // color: $color-white;
  // border-radius: 2rem;
  // background-image: linear-gradient(to bottom, rgb(159 104 0 / 5%), rgb(227 194 214 /80%));
  padding: 2.5rem;
  font-size: 2.8rem;
  color: $color-grey-dark;
  width: 100%;
  max-width: 125rem;
  // height: 35rem;
  white-space: pre-line;
  break-after: always;
  padding-bottom: 5rem;

  &__badges {
    display: flex;
    margin: 0 auto;
    max-width: 40rem;
    flex-flow: row;
    flex-wrap: nowrap;
    // border: 1px dotted red;
    // max-width: 80%;
    justify-content: space-around;
    & img {
      height: auto;
      // border: 1px dotted black;
    }
  }
  &__cta-wrapper {
    text-align: right;
    // margin-top: 8rem;
    // position: absolute;
    // bottom: 2rem;
    // right: 2rem;
  }
}
