.info-table {
  width: 100%;
  font-size: 2.5rem;
  border-collapse: collapse;
  &__head {
  }
  &__body {
    & td {
      padding: 1rem;
      vertical-align: top;
      text-align: left;
      height: 4rem;
      border-bottom: 1px $color-grey-light-3 solid;
    }
    & td:first-child {
      width: 16rem;
    }
    & td:nth-child(2) {
      max-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: wrap;
    }
  }

  &__row {
    &.top-value td:nth-child(1),
    &.bottom-value td:nth-child(1) {
      vertical-align: middle;
    }
  }

  &__row {
    &.top-value td:nth-child(2),
    &.bottom-value td:nth-child(2) {
      font-weight: 600;
      font-size: 3rem;
    }
  }
  &__tfoot {
  }
}
