.user-data {
  height: 100%;
  font-size: 5rem;
  border-radius: 2rem;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  &__msg {
    text-align: center;
    font-size: 6rem;
  }

  &__btn-invalid-msg {
    font-size: $medium-font-size;
    margin-top: 3rem;
    color: rgb(182, 66, 66);
    align-self: center;
  }
  p {
    margin-top: 3rem;
    font-size: $medium-font-size;
  }
  .input-classic {
    color: #ffffff;
    // color: $color-secondary-dark;

    // label {
    //   // font-size: $big-font-size-2;
    // }
  }
  &__registration {
    &-error-container {
      margin-top: 5rem;
      p {
        color: $color-grey-light-1;
        font-size: 3rem;
      }
    }
  }
}
