.user-data {
  &__page {
    height: $default-screen-section-height;
  }
  height: 100%;
  font-size: 5rem;
  border-radius: 2rem;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  color: $color-primary-dark;
  &__msg {
    text-align: center;
    font-size: 6rem;
  }

  &__btn-invalid-msg {
    font-size: $medium-font-size;
    margin-top: 3rem;
    color: rgb(182, 66, 66);
    align-self: center;
  }
  p {
    margin-top: 3rem;
    font-size: $medium-font-size;
  }
  .input-classic {
    color: #ffffff;
    color: $color-primary-dark;
    // color: $color-secondary-dark;

    // label {
    //   // font-size: $big-font-size-2;
    // }
  }
  &__error {
    margin-top: 5rem;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    &-image--wrapper {
      // height:;
    }
    p {
      color: $color-primary-dark;
      text-align: center;
      font-size: 3rem;
      margin: 4rem;
    }
  }
}
