.user-info {
  &__page {
    height: 130vp;
  }
  height: 100%;
  font-size: 5rem;
  border-radius: 2rem;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  color: $color-primary-dark;
  &__msg {
    text-align: center;
    font-size: 6rem;
  }
  &__input-error-msg {
    font-size: $medium-font-size;
    // margin-top: 3rem;
    color: rgb(182, 66, 66);
    // align-self: center;
    border: 1px dotted pink;
  }

  .input-classic {
    color: #ffffff;
    color: $color-primary-dark;
  }

  &__auth-providers {
    margin-top: 2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    button {
      margin: 1rem 0;
      width: 35rem;
    }
  }
  &__session-data {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 5rem;

    p:nth-child(3) {
      margin: 4rem 0;
    }

    button {
      align-self: center;
      width: 35rem;
      height: 6rem;
      border-radius: 0.5rem;
      margin: 1rem 0;
      text-align: center;
      font-size: $medium-font-size;
    }
    table {
      margin-top: 3rem;
      .info-table__row td.info-table__data {
        font-size: 2rem;
      }
    }
  }
  &__error {
    margin-top: 5rem;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    &-image--wrapper {
      // height:;
    }
    p {
      color: $color-primary-dark;
      text-align: center;
      font-size: 3rem;
      margin: 4rem;
    }
  }
}
