*,
*::after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
  min-width: 320px;
  // This defined what 1 rem is
  font-size: 62.5%;
  color: $color-primary-dark;
  background-color: $color-primary-dark;
  // background-image: linear-gradient(to top, #383b37, #54645b, #6d9088, #84bfbf, #9feeff);
  // font-size: 34.5%;

  @include respond(phone) {
    font-size: 55%;
  }
  @include respond(small-phone) {
    font-size: 40%;
  }
  @include respond(mini-phone) {
    font-size: 35%;
  }
}

body {
  height: 100%;
  width: 100%;
  padding: env(safe-area-inset);
  box-sizing: border-box;

  @include respond(tab-port) {
    padding: 0rem;
  }

  // background-image: linear-gradient(to left bottom, rgba($color-secondary-light, 1), rgba($color-primary, 1));
  background-repeat: no-repeat;
}

.canvas {
  background-color: $color-fondo-pardo;
  // height: 100%;
}
#__next {
  height: 100%;
  position: relative;
}

.navigation + main {
  // margin-top: 6rem;
  height: 100%;
}
